@import '../../vendor/variables.scss';
.disconnect {
	text-align: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin: 0px 0px 20px;
	}
	&__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 0px 0px 69px;
	}
	&__back {
		font-weight: 500;
    font-size: 11px;
    color: $blue;
    line-height: 11px;
    text-decoration: underline;
	}
}
