<main class="disconnect">
    <h1 class="disconnect__title">{{ context.title }}</h1>
    <p class="disconnect__subtitle">{{ context.message }}</p>
    <a href={{ context.url }} class="disconnect__back">{{ context.backToChat }}</a>
</main>
