<main class="disconnect">
    <h1 class="disconnect__title">{{ fHfStore.0.context.title }}</h1>
    <p class="disconnect__subtitle">{{ fHfStore.0.context.message }}</p>
    <a href={{ fHfStore.0.context.url }} class="disconnect__back">{{ fHfStore.0.context.backToChat }}</a>
</main>
