@import '../../vendor/variables.scss';
.button {
  margin: 5px;
  padding: 5px 15px;
  border: 1px solid $button-color;
  background: linear-gradient(lighten($button-color,10), $button-color);
  color: rgba($main, 0.9);
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  height: 37px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  &:active {
    background: linear-gradient($button-color, lighten($button-color,10));
  }
}
