.button {
  margin: 5px;
  padding: 5px 15px;
  border: 1px solid #007aff;
  background: linear-gradient(lighten(#007aff,10), #007aff);
  color: rgba(#ffffff, 0.9);
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  height: 37px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  &:active {
    background: linear-gradient(#007aff, lighten(#007aff,10));
  }
}