<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    Messenger
  </title>
</head>
{{!< index}}
<body  class="page">
  <main class="page__form">
    {{> login/login }}
  </main>
</body>
</html>