.chat {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1500px;
  background: #FFFFFF;
}
.chat-list {
  width: 310px;
  border-right: 1px solid #555555;
  padding: 20px 10px;
  &__message {
    margin: 0;
    padding: 0;
  }
  &__message li {
    list-style-type: none;
  }
}
