<div class="chat">
	<div class="chat-list">
		{{> components/profile/profile }}
		{{> components/search/search }}
		<ul class="chat-list__message">
			{{> components/message/message }}
		</ul>
	</div>
</div>