<div class="chat">
	<div class="chat-list">
		{{> components/profile/profile }}
		{{> components/search/search }}
		<ul class="chat-list__message">
			{{#each listMessage}}
			{{> components/message/message message }}
			{{/each}}
		</ul>
		<div>{{data.title}}</div>
	</div>
</div>
