---

mistake: {
  context: {
    title: '500',
    message: 'Мы уже фиксим',
    backToChat: 'Назад к чатам',
    url: '/chat',
  }
}

---
<!doctype>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Messenger
  </title>
  <link rel='stylesheet' href='../vendor/index.scss' />
</head>
<body>
  <main class="page__disconnect">
    {{> components/disconnect/disconnect mistake }}
  </main>
</body>
</html>
