---

listMessage: [
  {
    message: {
      name: 'Андрей',
      url: '../components/message/images/1.png',
      text: 'Привет',
      time: '11:12',
      count: 6,
    }
  },
  {
    message: {
      name: 'Илья',
      url: '../components/message/images/1.png',
      text: 'Друзья, у меня для вас особенный выпуск новостей!...',
      time: '5 Мая 2020',
      myMessage: true,
    }
  },
  {
    message: {
      name: 'Вадим',
      url: '../components/message/images/1.png',
      text: 'Вы: Круто!',
      time: '00:23',
      count: 4,
    }
  },
  {
    message: {
      name: 'тет-а-тет',
      url: '../components/message/images/1.png',
      text: 'И Human Interface Guidelines и Material Design рекомендуют...',
      time: '13:44',
      myMessage: true,
    }
  },
  {
    message: {
      name: 'тет-а-тет',
      url: '../components/message/images/1.png',
      text: 'И Human Interface Guidelines и Material Design рекомендуют...',
      time: '13:44',
      myMessage: true,
    }
  },
  {
    message: {
      name: 'Повернутые Z',
      url: '../components/message/images/1.png',
      text: 'И Human Interface Guidelines и Material Design рекомендуют...',
      time: '13:44',
      myMessage: true,
    }
  },
  {
    message: {
      name: 'тет-а-тет',
      url: '../components/message/images/1.png',
      text: 'Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum"...',
      time: '1 Мая 2020',
      myMessage: true,
    }
  },
  {
    message: {
      name: 'Design',
      url: '../components/message/images/1.png',
      text: 'И Human Interface Guidelines и Material Design рекомендуют...',
      time: '13:44',
      myMessage: true,
    }
  },
  {
    message: {
      name: 'тет-а-тет',
      url: '../components/message/images/1.png',
      text: 'Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации....',
      time: '13:44',
      myMessage: true,
    }
  }
]

messages: [
  {
    label: {
      name: 'Андрей',
      url: '../components/message/images/1.png',
      text: 'Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.',
      time: '12 июня 2022',
    }
  },
  {
    label: {
      name: 'GG',
      url: '../components/message/images/1.png',
      text: 'Круто!!!',
      myMessage: true,
    }
  }
]

---

<!doctype >
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Messenger
  </title>
  <link rel='stylesheet' href='../vendor/index.scss' />
</head>
<body>
  <main class="page__chat">
    {{> layout/chat/chat data=listMessage }}
    {{> layout/messages/message data=messages }}
  </main>
</body>
</html>
