<div class="controlled-input">
	{{{
		Input
		class="form__text-input"
		onInput=onInput
		onFocus=onFocus
		onBlur=onBlur
		name=name
		type=type
		placeholder="{{placeholder}}"
	}}}
	{{{ ErrorComponent ref="error" text=error }}}
</div>

