<div class="controlled-input">
	{{{
		Input
		onInput=onInput
		onFocus=onFocus
		onBlur=onBlur
		name=name
		type=type
		placeholder="ivanivanov"
	}}}
	{{{ ErrorComponent ref="error" text=error }}}
</div>

