@import '../../vendor/variables.scss';
.kebab {
	position: relative;
	&__element {
		cursor: pointer;
		padding: 0 16px;
		position: relative;
	}
  figure {
	  width: 6px;
	  height: 6px;
	  border-radius: 5px;
	  background: #555555;
	  margin: 3px 0;
	}
	&__modal {
    top: 75px;
    right: 15px;
    width: 210px;
    height: 90px;
    background-color: $main;
    border: 2px solid $border-color;
    border-radius: 12px;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
    display: flex;
    position: absolute;
    box-shadow: 0 0 10px 1px #00000080;
	}
	&__modal-plus, &__modal-minus {
		font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
	}
	&__modal-plus img, &__modal-minus img {
		width: 12px;
		height: 12px;
		color: $main;
		text-align: center;
		border-radius: 50%;
		padding: 8px;
		font-size: 11px;
		border: 2px solid $border-bottom-color;
	}
}
