<div class="kebab">
	<button class="kebab__element kebab__element-reset">
		<figure></figure>
		<figure class="middle"></figure>
		<figure></figure>
	</button>
	<div class="kebab__modal" id="{{id}}">
		<div class="kebab__modal-plus">
			<img src="../components/kebab/images/plus.png" alt="avatar" />
			Добавить пользователя
		</div>
		<div class="kebab__modal-minus">
			<img src="../components/kebab/images/minus.png" alt="avatar" />
			Удалить пользователя
		</div>
	</div>
</div>
