<div class="kebab">
	<div class="kebab__element">
		<figure></figure>
		<figure class="middle"></figure>
		<figure></figure>
	</div>
	<div class="kebab__modal">
		<div class="kebab__modal-plus">
			<img src="../components/kebab/images/plus.png" alt="avatar" />
			Добавить пользователя
		</div>
		<div class="kebab__modal-minus">
			<img src="../components/kebab/images/minus.png" alt="avatar" />
			Удалить пользователя
		</div>
	</div>
</div>
