<div class="profile-main__info-field">
	<span class="profile-main__label">{{ text }}</span>
	{{{ Input name=name type=type class="profile-main__info_profile form__text-input" placeholder=placeholder }}}
</div>
