<div class="profile-main__info-field">
	<span class="profile-main__label">{{ text }}</span>
	{{{ Input name=name type=type class="form__text-input profile-main__info_profile" placeholder=placeholder }}}
</div>
