<div class="dialog" role="dialog">
	<div class="dialog__body">
		<h3>{{ header }}</h3>	
		<div class="dialog__content">
			
			{{#if label}}
      	<label for="input-username" class="form__label form__label--offset">Логин</label>
      	{{> components/input/input type=type id="input-username" class="form__text-input" placeholder="ivanivanov" }}
      {{/if}}
		
			
		</div>
		<footer class="form-login__footer">
      {{> components/button/button class="button" label=text }}
    </footer>
	</div>
</div>