@import '../../vendor/variables.scss';

.search {
  margin: 25px 0px 15px;
  &__input {
    background-color: #EFEFEF;
    border: none;
    background-image: url(./image/search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 0px 0px 0px 30px;
    border-radius: 5px;
    color: $color;
    height: 32px;
    box-sizing: border-box;
    width: 290px;
  }
  &__input::placeholder {
    text-align: center;
  }
}
