<div class="avatar">
	<input type="file" name="avatar" class="avatar-change__input" id="input__file">
	<label class="avatar-change__label" for="input__file">
		<img src="../components/avatar/images/avatar.png" alt="default">
		<span class="avatar__text">Поменять аватар</span>
	</label>
</div>
