@import '../../vendor/variables.scss';
.chat-body {
  width: 100%;
  &__container {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid $color-chat-top;
    height: 100px;
    .message__name {
      flex-grow: 1;
    }
  }
  &__header img {
    margin-right: 20px; 
  }
  &__history {
    padding: 30px 20px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
    flex-grow: 4;
  }
  &__send {
    display: flex;
    padding: 10px 0px;
    border-top: 1px solid $color-chat-top;
    flex-direction: row;
    align-items: center;
  }
  &__message {
    background-color: $my-message-bg-color;
    border-radius: 0px 10px 10px 10px;
    margin-bottom: 10px;
    padding: 11px;
    width: 400px;
    font-size: 12px;
    span {
      display: block;
      text-align: right;
      font-size: 9px;
    }
  }
  &__message_my {
    margin-left: auto;
    border-radius: 10px 10px 0px 10px;
    background-color: $my-message-color;
  }
  &__button {
    width: 30px;
    height: 30px;
    color: $main;
    text-align: center;
    cursor: pointer;
    background: linear-gradient($border-bottom-color, $button-color);
    border: 1px solid $button-color;
    border-radius: 50%;
    margin: 5px;
  }
  &__empty-message {
  	text-align: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
		width: 100%;
  }
}

#sendMessage {
	display: flex;
    width: 100%;
}
