<div class="kebab">
	{{{ buttonToogle class="kebab__element kebab__element-reset" onClick=onClick }}}
	<div class="kebab__modal" id="{{id}}">
		<div class="kebab__wrapper">
			{{{actionChatModal type="buttonAddUser" action=onActionPlusUser onClick=buttonAddUser }}}
			{{{actionChatModal id="ActionModalMinusUser" type="buttonDelUser" action=onActionMinusUser }}}
		</div>
	</div>

</div>
