<div class="kebab">
	{{{ buttonToogle class="kebab__element kebab__element-reset" onClick=onClick }}}
	<div class="kebab__modal" id="{{id}}">
		<div class="kebab__modal-plus">
			<img src="../components/kebab/images/plus.png" alt="avatar" />
			Добавить пользователя
		</div>
		<div class="kebab__modal-minus">
			<img src="../components/kebab/images/minus.png" alt="avatar" />
			Удалить пользователя
		</div>
	</div>
</div>
