<li class="message">
	<img src="#" alt="avatar" />
  <div class="message__about">
    <div class="message__name">Андрей</div>
    <div class="message__text">Изображение</div>
    <div class="message__status">
      <p class="message__time">{{ time }}</p>
    </div>
  </div>
</li>