@import '../../vendor/variables.scss';
.message {
	a {
		width: 100%;
		height: 70px;
		border-top: 1px solid $color-chat-top;
		display: flex;
		flex-direction: row;
		padding: 12px 0px;
		cursor: pointer;
		text-decoration: none;
    color: #000;
	}
	&__about {
		width: 100%;
		margin-left: 10px;
	}
	&__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    margin: 0px 0px 4px;
	}
	&__text {
		overflow: hidden;
    height: 50px;
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		margin: 0px;
		color: $color;
	}
	&__status {
		display: flex;
    flex-direction: column;
		width: 160px;
		justify-content: center;
		align-items: center;
	}
	&__time {
		flex-grow: 1;
    font-size: 12px;
	}
	&__amount {
		border-radius: 50%;
		width: 12px;
    height: 12px;
		padding: 8px;
		color: #fff;
		text-align: center;
		font-size: 11px;
		background: $blue;
	}
	&__time {
		margin: 0;
    padding: 0;
	}
	&__circle {
		display: inline-block;
		background-color: #EFEFEF;
		margin: 10px;
		border-radius: 50%;
	}
	&__circle-user {
		color: white;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		height: 100px;
		width: 105px;
		font-size: 30px;
	}
}
